# Constraints for Papilio One

CONFIG PROHIBIT=P99;
CONFIG PROHIBIT=P43;
CONFIG PROHIBIT=P42;
CONFIG PROHIBIT=P39;
CONFIG PROHIBIT=P49;
CONFIG PROHIBIT=P48;
CONFIG PROHIBIT=P47;

NET clk		LOC="P89" | IOSTANDARD=LVTTL | PERIOD=31.25ns;
NET audio	LOC="P41" | IOSTANDARD=LVTTL;
NET led(7)	LOC="P5"  | IOSTANDARD=LVTTL;
NET led(6)	LOC="P9"  | IOSTANDARD=LVTTL;
NET led(5)	LOC="P10" | IOSTANDARD=LVTTL;
NET led(4)	LOC="P11" | IOSTANDARD=LVTTL;
NET led(3)	LOC="P12" | IOSTANDARD=LVTTL;
NET led(2)	LOC="P15" | IOSTANDARD=LVTTL;
NET led(1)	LOC="P16" | IOSTANDARD=LVTTL;
NET led(0)	LOC="P17" | IOSTANDARD=LVTTL;
NET switch(7)    LOC="P91"  | IOSTANDARD=LVTTL;
NET switch(6)    LOC="P92"  | IOSTANDARD=LVTTL;
NET switch(5)    LOC="P94"  | IOSTANDARD=LVTTL;
NET switch(4)    LOC="P95"  | IOSTANDARD=LVTTL;
NET switch(3)    LOC="P98"  | IOSTANDARD=LVTTL;
NET switch(2)    LOC="P2"   | IOSTANDARD=LVTTL;
NET switch(1)    LOC="P3"   | IOSTANDARD=LVTTL;
NET switch(0)    LOC="P4"   | IOSTANDARD=LVTTL;
